{% extends 'admin_base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}

<div class="col-md-13">
     {% with messages = get_flashed_messages(with_categories = true) %}
     {% if messages %}
     {% for cate, msg in messages %}
     <div class="alert alert-{{cate}}">
         <button type='button' class='close' data-dismiss='alert'>&times;</button>
         {{ msg }}
     </div>
     {% endfor %}
     {% endif %}
     {% endwith %}
 </div>
{% if users %}

<div class=' text-center container-fluid'>

     <h1 class='display-4 text-center mt-4'>All Users</h1><br>
     <table class="table" style="color: #fff; background-color: rgb(105, 68, 68); box-shadow: #f1f1f1 0px 3px 8px;" id='data'>
          <thead>
               <th scope="col">#</th>
               <th scope="col">Name</th>
               <th scope="col">Email</th>
               <th scope="col">Privilege</th>
          </thead>
          <tbody>
               {% for user in users %}
               <tr>
                    <td scope='row'>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.admin %}
                    <td>Admin</td>
                    {% elif user.librarian %}
                    <td>Librarian</td>
                    {% else %}
                    <td>End User</td>
                    {% endif %}
               </tr>
               {% endfor %}
          </tbody>
     </table>
</div>
{% else %}
<h1 class='display-4 text-center'>No Books Found!</h1><br>
{% endif %}
{% endblock %}