{% extends 'admin_base.html' %}
{% block title %}Change Privileges{% endblock %}
{% block content %} 
<form class='text-center mt-5 container' style="width: 60%;" action='/change/privileges' method='POST'>
    <div class="col-md-13">
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for cate, msg in messages %}
        <div class="alert alert-{{cate}}">
            <button type='button' class='close' data-dismiss='alert'>&times;</button>
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
     <h1 class='display-4 text-center'>Change User Privileges</h1><br>
     <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <select name="user" id="user_privilege" class="form-control" required autofocus placeholder='Select'>
              {% for user in users %}
              <option value='{{ user.id }}' name='user'>{{ user.email }} ({{ user.name }})</option>
              {% endfor %}
          </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user-secret"></i></span>
        </div>
        <select name="privilege" class="form-control" required autofocus placeholder='Select Privilege'>
            <option value='0' name='book'>Admin</option>
            <option value='1' name='book'>Librarian</option>
            <option value='2' name='book' disabled>User (Student || Faculty)</option>
        </select>
    </div>
     <button class='btn btn-lg btn-dark btn-block' type='submit'>Grant Privilege</button>
 </form>
{% endblock %}